/* @import "./globals.css"; */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  overflow: visible;
}
.content {
  display: flex;
  background-color: #1D1D1F;
  flex-direction: column;
  flex-grow: 1;
}